* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
}

.container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  min-width: 300px;
}

.container > h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.inp-field-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
}
input[type="text"],
input[type="url"] {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background-color: rgba(65, 105, 225, 0.16);
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 16px;
  border: none;
  outline: none;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  min-width: 100px;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

#shortened-urls {
  max-height: 200px;
  overflow-y: auto; /* more specific, only vertical scroll */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  list-style: none;
}

/* Custom Scrollbar */
/* Chrome, Edge, Safari */
#shortened-urls::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

#shortened-urls::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
  border-radius: 10px;
}

#shortened-urls::-webkit-scrollbar-thumb {
  background: #888; /* handle color */
  border-radius: 10px;
}

@media screen and (min-width: 760px) {
  .container {
    min-width: 500px;
  }
}
